<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/style.css">

    <title>Lista studenata</title>
    <br>

</head>
<body>
<nav>
    <a th:href="@{/}"><button>Početna</button></a>
    <a th:href="@{/students}"><button>Studenti</button></a>
    <a th:href="@{/profesors}"><button>Profesori</button></a>
    <a th:href="@{/predmeti}"><button>Predmeti</button></a>
    <a href="#" onclick="document.getElementById('logoutForm').submit()"><button>Odjavi se</button></a>

    <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none"></form>
</nav>
<h2>Studenti</h2>
<div sec:authorize="hasRole('PROFESOR')">
<a th:href="@{/students/new}">Dodaj novog studenta</a>
</div>
    <table border="1">
    <tr>
        <th>ID</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Indeks</th>
        <th>Akcija</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.ime}"></td>
        <td th:text="${student.prezime}"></td>
        <td th:text="${student.indeks}"></td>
        <div sec:authorize="hasRole('PROFESOR')">
        <td>
            <a th:href="@{/students/edit/{id}(id=${student.id})}">Izmeni</a> |
            <a href="#" onclick="if(confirm('Da li ste sigurni da želite da obrišete ovog studenta?')) { document.getElementById('deleteForm-' + [[${student.id}]]).submit(); }">
                Obriši
            </a>

            <form id="deleteForm-[[${student.id}]]"
                  th:action="@{/students/delete/{id}(id=${student.id})}"
                  th:method="delete"
                  style="display:none">
            </form>

        </td>
        </div>
    </tr>
</table>
</body>
</html>
